.banner{
    padding: 250px 0;
}
.banner-title {
  color: #FCCC16;
  font-size: 3rem;
  font-weight: bold;
  text-align: left; 
  margin-bottom: 0.5rem;
}

.banner-subtitle {
  white-space: pre-line; 
  color: #181A1B;
  font-size: 1.2rem;
  margin-top: 0;
  text-align: left; 
  font-weight: bold;
}
@media (max-width: 992px) {
  .banner {
    padding: 120px 0;
  }
}

@media (max-width: 992px) {
  .banner-title {
    font-size: 2.5rem;
  }
  .banner-subtitle {
    font-size: 1rem;
  }
}
